.progress-container {
  background-color: var(--color-6);
  width: 120px;
  border-radius: 50px;

  .progress-bar {
    height: 15px;
    transition: var(--main-transition);
    width: var(--value);
    background-color: var(--color-2);
    border-radius: 50px 0 0 50px;
  }
}
