@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  }
}
.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .left {
    width: 40vw;
    input {
      width: 100%;
      padding: 10px;
      border: none;
    }
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
    }
  }
  .right {
    width: 20vw;
    button {
      height: 100%;
      width: 100%;
      border: none;
      background-color: var(--color-2);
      color: var(--color-1);
      cursor: pointer;
      transition: var(--hover-transition);
      &:hover {
        background-color: var(--color-2-hover);
      }
    }
  }
}
@include devices(tablet) {
  .todo-form .left {
    width: 70vw;
  }
}
